body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
    width: 90%;
    background-color: white;
    width: 95%;
    margin: 15px auto;
    padding: 15px 1.5em;
}
#nav_menu ul { list-style-type: none;}
#nav_menu ul li {float; left; }
#nav_menu ul Li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right:  2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }
#nav_menu ul Li a.current { color: yellow; }

header {
    color: blue;
    border-top: 2px solid blue;
}
 #nav_menu {
    display : block
 }

