/* custom property
:root {
    --global-color-1: #800000;
    /*/
html{
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5cm;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    margin-left: 10px;
}
a:focus,  a:hover{
    font-style: italic;
    color:orangered;
}
header h1{
    font-size: 175%;
    color: maroon;
    text-indent: 30px;
}
header h2{
    font-size: 130%;
   color: #800080;
   text-indent: 30px;
}
header img {
    float: left;

}
.shadow {
    text-shadow: 2px 2px 2px rgb(128, 0, 0)
}
    
main{
    clear: left;
}
main h3 {
    font-size: 105%;
    margin: 3cm 2cm 1.5cm;
    border: 5px double blue;
}
main nav{
    font-size: 105%;
    margin: 1.5cm 2cm 1.5cm;
}
main div.contact{
    margin: 1.5cm 2cm 0cm 2cm;
}
#list {
    line-height: 1.5cm;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}

